<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.westerlind.alfred.raindrop-search</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>2469C16C-7E26-4F22-AB46-7D1C762E942B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB0BEEDE-D9CF-4DAF-A154-0E92E796BF0D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A02CEBB5-6A0E-4A41-94C6-B1AD93D052F2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B4AC4F51-56BA-4168-88B2-CEE7381D3103</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4D8E3325-7D14-4FCF-8E57-F00579BE1A85</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CC95B992-1336-4312-A443-B705E2E12F59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5A7278FA-B820-4C52-9089-3B9F04E4AE79</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1EE45FF5-B323-4060-AC4B-CA15074C3028</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A13AE621-4954-498E-BA87-16980787A8AE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>55332F63-B661-47D7-B85D-C76484E34D12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>02AB8104-E199-4292-B441-A19108423038</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EDB576B7-F065-49A4-840D-8EAD0C79DE5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8E774872-787E-40D2-9E0C-3346BF394145</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>311C1490-CED2-4F08-9B15-1BDE7A96CAC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DABA59F2-16C7-4D81-81D0-4C6BDB929264</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6F269388-3954-427F-88E6-01C7750A3334</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>92EA597F-923D-43C8-8DCB-02C9ACEDA254</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BE5382DD-AB74-4D17-919D-D9F08E264B12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4A709D8D-AD22-40B1-9418-3B6D60298A02</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>17FF8844-FFFD-4127-9879-42F68E3F5ED9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2C831EA4-351A-4A60-9692-C921A53C83FC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5073EAC4-DF95-479C-BCDD-B6828F53181C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9BEF7B08-5F9D-4B4A-A641-7FAEBECCF932</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7B5B2A0C-413E-4321-85A2-F96ADDB26BB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56E7477E-A147-406F-B423-659AB0BD8355</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E44DA31A-ABF5-41DD-8991-204E24E4827F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78C09EC9-0B83-454E-B40B-4B6D1BBD21A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2469C16C-7E26-4F22-AB46-7D1C762E942B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9566004-3BE2-40F9-97F8-DAF489100CE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78C09EC9-0B83-454E-B40B-4B6D1BBD21A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E44DA31A-ABF5-41DD-8991-204E24E4827F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9566004-3BE2-40F9-97F8-DAF489100CE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andreas Westerlind</string>
	<key>description</key>
	<string>Search your Raindrop.io bookmarks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Raindrop.io</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EB0BEEDE-D9CF-4DAF-A154-0E92E796BF0D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B4AC4F51-56BA-4168-88B2-CEE7381D3103</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>r</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/php raindrop-search.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Or press enter to open Raindrop.io</string>
				<key>title</key>
				<string>Search your Raindrop.io bookmarks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>56E7477E-A147-406F-B423-659AB0BD8355</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>link</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E44DA31A-ABF5-41DD-8991-204E24E4827F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CC95B992-1336-4312-A443-B705E2E12F59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.chromium.Chromium</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>55332F63-B661-47D7-B85D-C76484E34D12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1EE45FF5-B323-4060-AC4B-CA15074C3028</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>firefox
</string>
						<key>outputlabel</key>
						<string>Firefox</string>
						<key>uid</key>
						<string>A02CEBB5-6A0E-4A41-94C6-B1AD93D052F2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Safari
</string>
						<key>outputlabel</key>
						<string>Safari</string>
						<key>uid</key>
						<string>A13AE621-4954-498E-BA87-16980787A8AE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Brave Browser
</string>
						<key>outputlabel</key>
						<string>Brave</string>
						<key>uid</key>
						<string>4D8E3325-7D14-4FCF-8E57-F00579BE1A85</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Microsoft Edge
</string>
						<key>outputlabel</key>
						<string>Edge</string>
						<key>uid</key>
						<string>DABA59F2-16C7-4D81-81D0-4C6BDB929264</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Google Chrome
</string>
						<key>outputlabel</key>
						<string>Chrome</string>
						<key>uid</key>
						<string>5A7278FA-B820-4C52-9089-3B9F04E4AE79</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Vivaldi
</string>
						<key>outputlabel</key>
						<string>Vivaldi</string>
						<key>uid</key>
						<string>9BEF7B08-5F9D-4B4A-A641-7FAEBECCF932</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Opera
</string>
						<key>outputlabel</key>
						<string>Opera</string>
						<key>uid</key>
						<string>8E774872-787E-40D2-9E0C-3346BF394145</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Chromium
</string>
						<key>outputlabel</key>
						<string>Chromium</string>
						<key>uid</key>
						<string>02AB8104-E199-4292-B441-A19108423038</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Google Chrome Canary
</string>
						<key>outputlabel</key>
						<string>Google Chrome Canary</string>
						<key>uid</key>
						<string>92EA597F-923D-43C8-8DCB-02C9ACEDA254</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>seamonkey
</string>
						<key>outputlabel</key>
						<string>seamonkey</string>
						<key>uid</key>
						<string>4A709D8D-AD22-40B1-9418-3B6D60298A02</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Safari Technology Preview
</string>
						<key>outputlabel</key>
						<string>Safari Technology Preview</string>
						<key>uid</key>
						<string>2C831EA4-351A-4A60-9692-C921A53C83FC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2469C16C-7E26-4F22-AB46-7D1C762E942B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.operasoftware.Opera</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EDB576B7-F065-49A4-840D-8EAD0C79DE5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.microsoft.edgemac</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>311C1490-CED2-4F08-9B15-1BDE7A96CAC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome.canary</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6F269388-3954-427F-88E6-01C7750A3334</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "System Events"	set frontApp to name of first application process whose frontmost is trueend tell
return frontApp</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B9566004-3BE2-40F9-97F8-DAF489100CE4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>browser</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>78C09EC9-0B83-454E-B40B-4B6D1BBD21A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.SeaMonkey</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BE5382DD-AB74-4D17-919D-D9F08E264B12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.SafariTechnologyPreview</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>17FF8844-FFFD-4127-9879-42F68E3F5ED9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.vivaldi.Vivaldi</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5073EAC4-DF95-479C-BCDD-B6828F53181C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7B5B2A0C-413E-4321-85A2-F96ADDB26BB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This Workflow is created to have a single, fast, and always reachable way of searching Raindrop.io, and then open bookmarks in the web browser you are currently working in, even if that's not your default browser.

- Open Alfred, type r, space, and then your search query, and the results will show directly in Alfred so that you can select one and press enter to open it in your browser.
- If the workflow is not authenticated with Alfred when you initiate it, you will be taken to the authentication process.
- If a web browser is the frontmost app when you open a bookmark from this workflow, it will open in that browser.
- If you are working in another app, the bookmark will open in your default browser.
- Hold the cmd-key to view the URL for a bookmark
- Press enter before you have started typing a search query, and Raindrop.io itself will open in your active web browser.</string>
	<key>uidata</key>
	<dict>
		<key>17FF8844-FFFD-4127-9879-42F68E3F5ED9</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>1EE45FF5-B323-4060-AC4B-CA15074C3028</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>945</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>2469C16C-7E26-4F22-AB46-7D1C762E942B</key>
		<dict>
			<key>note</key>
			<string>If a browser is the frontmost app, open Raindrop.io with your search in that browser, or otherwise open it in the default browser.</string>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>311C1490-CED2-4F08-9B15-1BDE7A96CAC3</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>945</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>5073EAC4-DF95-479C-BCDD-B6828F53181C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>945</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>55332F63-B661-47D7-B85D-C76484E34D12</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>56E7477E-A147-406F-B423-659AB0BD8355</key>
		<dict>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>6F269388-3954-427F-88E6-01C7750A3334</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>78C09EC9-0B83-454E-B40B-4B6D1BBD21A2</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>7B5B2A0C-413E-4321-85A2-F96ADDB26BB6</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>B4AC4F51-56BA-4168-88B2-CEE7381D3103</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>945</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>B9566004-3BE2-40F9-97F8-DAF489100CE4</key>
		<dict>
			<key>note</key>
			<string>Check for frontmost app</string>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>BE5382DD-AB74-4D17-919D-D9F08E264B12</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>CC95B992-1336-4312-A443-B705E2E12F59</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>E44DA31A-ABF5-41DD-8991-204E24E4827F</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>EB0BEEDE-D9CF-4DAF-A154-0E92E796BF0D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>EDB576B7-F065-49A4-840D-8EAD0C79DE5B</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>805</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
